.select {
  width: 30%;
  height: 50px;
  border: none;
  padding: 0 25px;
  border-radius: 5px;
  font-size: 14px;
  color: #2d2d32;
  background-color: rgb(232, 228, 255);

  .option {
    color: #2d2d32;
  }
}
